.frameGroup {
  margin-right: -162px;
  width: 2082px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-119xl);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 108%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup {
    padding-bottom: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
